<!-- partials/state1.list.html -->
<div ng-controller="regist"  ng-init="init()">
	<h3 class="center">regist</h3>
    <form name="myForm" ng-submit="userRegist()">
	  <div class="form-group" >
		<label for="name">用户名</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名"   required   ng-maxlength=20 ng-minlength=2  ng-model="regist.user">
                 <div ng-if="myForm.name.$dirty && myForm.name.$error.maxlength" class="errorinfo labelmargin">不能超过20个字符</div>
                 <div ng-if="myForm.name.$dirty && myForm.name.$error.minlength" class="errorinfo labelmargin">最少两个字符</div>		
	  </div>
	  <div class="form-group">
		<label for="password">密码</label>
		<input type="password" class="form-control" id="password" name='password'  placeholder="请输入密码" required ng-pattern="/^[A-Z][\_\@\.]([a-zA-Z0-9]){4,19}$/" ng-model = "regist.password">
		<div ng-if="myForm.password.$dirty && myForm.password.$error.pattern" class="errorinfo labelmargin">第一个字符必须是大写字母，第二个字符必须是“.”、"_"、"@"其中一个，剩下为大小写字母或者数字。最少6个字符，最多20个字符。</div>
	  </div>
	  
	  <div class="form-group">
		<label for="dpassword">再次输入密码</label>
		<input type="password" class="form-control" id="dpassword"  name="dpassword" placeholder="请输入密码" required ng-model = "regist.dpassword">
	  </div>	

	  <div class="form-group">
		<label for="email">电子邮箱</label>
		<input type="email" class="form-control" id="email" placeholder="请输入密码" required ng-model = "regist.email">
	  </div>	  

	  <div class="form-group">
		<label for="phone">手机号</label>
		<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入密码" required   ng-model = "regist.phone">
		
		<!--
		<div ng-if="myForm.phone.$dirty && myForm.phone.$error.pattern" class="errorinfo labelmargin">请输入正确的手机号</div>
	    --> 
	 </div>	  
	  <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default">Submit</button>
	</form>

</div>
